<style>

.ch-grid{
	;
}

</style>    
        <div class="container">
		
			<section class="main">
			
				<ul class="ch-grid" style="margin-top:-5% !important">
					<li>
						<div class="ch-item ch-img-1">				
							<div class="ch-info-wrap">
								<div class="ch-info">
									<div class="ch-info-front ch-img-1"></div>
									<div class="ch-info-back">
										<h3>CEG</h3>
										<p>Founded in 1794<a href="/#about">DISCOVER CEG</a></p>
									</div>	
								</div>
							</div>
						</div>
					</li>
			</ul>
				
			</section>
        </div>
    