<style>

h1{
font-size:4em;
text-align:center;
color:rgb(185,0,0);
text-shadow:1px 2px 3px rgba(0,0,0,0.3);
}
section.research{
z-index:100;
font-size:1.3em;
color:black;
border-left:rgba(185,0,0,0.8);
letter-spacing:2px;
line-height:1.2;
padding:20px;
background: rgba(185,0,0,0.09);
}
</style>

<div ng-controller="researchController" style="margin-top:-5%">
<div class="col-md-10 col-md-push-1">
<h1>RESEARCH</h1>
<section class="research">
From Nobel Prize winners to undergraduates, all members of CEG are engaged in creating new knowledge, and Stanford brings an innovative, entrepreneurial spirit to this work of discovery. Stanford people take on audacious problems, bring imaginative new approaches to solving them, and work collaboratively to advance knowledge and make meaningful contributions to our world. 
</section>
</div>
</div>

